/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* -------------- top row --------------- */

div.dokuwiki .pagename {
  float: right;
  font-size: 130%;
  font-weight: bolder;
  color: #555753 !important;
  text-align: right;
  vertical-align: middle;
}

div.dokuwiki .pagename a {
  color: #0489B7  !important;
  text-decoration: none !important;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  background: transparent;
  padding: 0.1em 0.15em;
  clear: both;
}

div.dokuwiki .bar-left {
  float: left;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
}

div.dokuwiki #bar__bottom {
  margin-bottom: 3px;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin-top: 1em;
  color: __text_alt__;
  font-size: 90%;
}

div.dokuwiki div.meta div.user {
  float: left;
}

div.dokuwiki div.meta div.doc {
  text-align: right;
}
